@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* menu de opções */

.options {
    width: 20%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

li {
    list-style: none;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 10px;
    width: 80%;
    border-radius: 10px;
}


ul li a {
    text-decoration: none;
    color: black;
}

ul li a i {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
}

/* feed */

::-webkit-scrollbar {
    width: 50px;
  }


.post {
    width: 50%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 100%;
    margin-bottom: 10px;
}

.card-title{
    font-weight: bolder;
    letter-spacing: 1px;
}

.card-time{
    font-size: .9vw;
    color: rgba(0, 0, 0, 0.397);
}

.card-body {
    width: 100%;
}

.btn-thinking {
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    background-color: royalblue;
    font-size: 1.3vw;
    transition: .2s;
    border-radius: 30px;
}

.btn-thinking:hover {
    background-color: rgb(48, 78, 168);
}

/* area da direita */
.container-rigth{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* textarea */

#OpenPost {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
    backdrop-filter: blur(10px);
}

#Opp {
    width: 50%;
}

#btn_close {
    cursor: pointer;
}

textarea {
    border: none;
    outline: none;
    letter-spacing: .5px;
    width: 100%;
}